footer{
    padding-top: 5px;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, #EEEDE7, #868B8E);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    grid-area: footer;
}

#menuFooter {
    flex-direction: column;
}

#rrss {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    a {
        &:hover {
            transform: scale(1.1, 1.1);
        }
    }
}